.app-container {
    display: grid;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-areas: "content sidebar";
    flex-flow: row wrap;
    justify-content: center;
}

.app-content {
    grid-area: content;
}

.app-sidebar {
    grid-area: sidebar;
}
