<div class="app-banner">

  <p></p>
  <mat-progress-bar mode="query"></mat-progress-bar>
  <p></p>
  <p style="text-align: left; color: #673ab7; font-weight: bold; font-size: xx-large">
    <span>
      <img alt="product"
           src="https://icon-library.com/images/icon-for-product/icon-for-product-23.jpg"
           style="width: 100px;height: 100px"
      />
    </span>
    <span
        style="position: absolute;margin: 40px 0 0 10%;text-align: center">NEWS / PRODUCTS BANNER
    </span>
  </p>
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
